<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    body {
      margin : 0 auto;
      width : 300px;
    }

    #message-container{
      width: 400px;
      height: 300px;
      background-color: aqua;
    }

    #message-container2{
      width: 400px;
      height: 300px;
      background-color: lightpink;
    }

  </style>
</head>
<body>
    <div id="message-container"></div>
    <form id="send-container">
      <input type="text" id="message-input">
      <button type="button" id="send-button">Send</button>
    </form>
    <div id="message-container2"></div>
    <form id="send-container2">
      <input type="text" id="message-input2">
      <button type="button" id="send-button2">Send</button>
    </form>
</body>
</html>
